@import './../../assets/css/global.css';
@import './../../assets/css/colors.css';

.footer {
  max-width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  margin-top: 185px;

  background-color: var(--color-third);
}

.footer p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}

.footer label {
  color: var(--color-primary);
}
