.about-me {
  max-width: 50%;
  height: auto;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 169px;
}

.about-me .title-main {
  margin-bottom: 30px;
}

.about-me .description {
  line-height: 3.2rem;
}
