@import '../../assets/css/global.css';

@import '../../assets/css/colors.css';
@import '../../assets/css/_variables.css';

.projects {
  display: flex;
  /* display: flex; */
  flex-direction: column;

  max-width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 127px;
}

.projects .my-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  /* adjusted */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

@media(max-width:1360px) {
  .projects .my-projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    /* adjusted */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
  }

}


@media(max-width: 900px) {
  .projects .my-projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    /* adjusted */
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 30px;
  }
}

