@import './../../assets/scss/global.scss';
@import './../../assets/scss/colors.scss';

.skills {
  margin-top: 127px;
  text-align: center;
  .list-skills {
    display: flex;
    flex: row;
    gap: 51px;
    justify-content: center;
    margin-top: 30px;

    .card-skills {
      width: 150px;
      height: 150px;
      background-color: $color-third;
      border: 1px solid $color-second;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
    }
  }

}


@media(max-width: 900px) {

  .list-skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    /* adjusted */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
    justify-self: center;
    align-self: center;
    justify-items: center;
  
  }
}

@media(max-width: 425px) {
  .list-skills {
    display: flex;
    flex-direction:column;
    gap: 51px;
    align-items: center;
    margin-top: 30px;
  }

}