@import '../../assets/scss/colors.scss';

.contact {
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 85px;

  .redes-sociais {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .circle {
      width: 64px;
      height: 64px;
      clip-path: circle(50% at 50% 50%);
      background-color: $color-third;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        margin: 0 auto;
      }      
  
    }

    .figCaption {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.3rem;
      margin-top: 19px;
    }
  }

}
