
.media-header {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.media-header .apresentation {
  margin-top: 143px;
}
.media-header .apresentation .sub-menu{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.media-header .apresentation .sub-menu .button{
  margin-right: 15px;
}

.media-header .apresentation .title-2{
  max-width: 220px;
  
}

.media-header img {
  width: 300px;
  height: 255px;
}

@media(max-width: 900px) {
/* Minhas alterações */
  .media-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }
  .media-header img {
    margin-top: 60px;
  }

}

@media(max-width: 425px) {
  .media-header .apresentation .sub-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-top: 35px;
  }
  .media-header > img {
    display: none;
  }
}