:root{
  --color-grey: #51565F;
  --color-white: #F0F1F5;
}
.root {
  display:flex;
  flex-direction:column;
  max-width: 1120px;
  margin-left: auto;
  margin-right:auto;
  align-items:  center;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-grey);
  color: var(--color-white);
}