:root {
  --color-primary: #00DF5E;
  --color-second: #333333;
  --color-third: #212121;
  --color-fourth: #171717;
  --color-fifth: #828282;
  --color-sixth: #F9F9F9;
  
  font-size:62.5%;
  font-family: 'DM Sans', sans-serif;
}